.weather {
  color: #fff;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  background-color: #282c34;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(185, 184, 184);
  text-align: center;
}

.weather .units {
  border-radius: 50%;
  font-weight: bold;
}
.weather .search-engine {
  padding-top: 20px;
}

.weather .form-control {
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(185, 184, 184);
}

.weather .btn {
  text-align: center;
  box-shadow: 2px 2px 2px rgb(158, 157, 157);
  color: #fff;
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.weather .btn:hover {
  opacity: 1;
  color: #fff;
}

.weather .overview {
  padding-top: 20px;
}

.weather .currentTemperature {
  margin-top: 20px;
}

.weather h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.weather h3 {
  text-transform: capitalize;
}

.weather .temperature {
  display: inline;
  font-size: 32px;
  font-weight: bold;
}

.weather ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  list-style: none;
}

.weather .extraData {
  padding-top: 20px;
}

.loading {
  text-align: center;
}

.weather .WeatherForecastPreview {
  margin: 20px auto;
}
.weather .WeatherForecastPreview canvas {
  display: block;
  margin: 5px auto;
  width: 50px;
  height: 50px;
}
